* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Merriweather', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --mixed-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

#root{
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  padding-block: 0.25rem;
  padding-inline: 4rem;
  width: auto;
  height: 4.5vmin;
  cursor: pointer;
}

#nav {
  display: flex;
  background-color: rgb(25, 80, 85);
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  transition: .9s ease-out;

  #hamburger{
    display: none;
  }

    a{
      position: relative;
      font-size: .9rem;
      margin: 7px;
      color: #fff;
      text-decoration: none;
      list-style: none;
      padding: 5px 15px;
    }
    
    .a::before{
      content: '';
      position: absolute;
      display: block;
      width: 60%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }
    .a:hover::before {
      transform: scaleX(1) translate(50%);
    }

    .dropdown{
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content{
      display: none;
      position: absolute;
      background-color: #fff;
      width: 150px;
      min-width: 170px;
      padding: 8px 4px;
      border-radius: 4px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: 3.5%;
    
      a{
        display: block;
        padding: 5px 8px;
        min-width: 165px;
        color: #0AA2C0;
        transition: .4s ease-out;
      }
    
      a:hover{
        transition: .5s ease-in;
        padding: 5px 10px;
        border-radius: 2px;
        background: #0AA2C0;
        color: #fff;
      }
    }
    
    .dropdown:hover .dropdown-content{
      display: block;
      color: #fff;
    }

  .call-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    font-size: .8rem;
    margin-inline-end: 2rem;
    border: none;
    border-radius: 2px;
    background: #0AA2C0;
    padding: .8rem 1.5rem;
    text-decoration: none;
    color: #fff;

    span{
      margin: 5px;
    }
  }
}

.closed_menu, .open_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media screen and (max-width: 920px){
  .App-logo{
    width: auto;
    height: 5vh;
  }

  #nav{
    position: relative;
    #hamburger{
      display: block;
    }
    
  }

  .closed_menu{
    position: absolute;
    top: -139%;
  }

  .open_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #3A797F;
    width: 100vw;
    transition: .6s ease-in;
/*     
    a{
      padding: 10rem 0;
    } */

    .dropdown:hover .dropdown-content{
      position: relative;
    }
  }
}

.footer{
  background-color: rgb(25, 80, 85);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  width: 100vw;

  .end_title{
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .footer-container{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 60px;
    width: 100vw;

    p{
      width: 100%;
      font-size: .8rem;
      margin: 5%;
      padding: 5px;
    }

    .socials{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      span{
        margin: 5px;
      }
      span:hover{
        cursor: pointer;
      }
    } 

    .navigation{
      text-align: end;
      width: 60vw;

      .nav-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a{
          color: #fff;
          text-decoration: none;
          padding: 2px 5px;
          margin: 4px;
          transition: .5s ease-out;
        }

        a:hover{
          border-radius: 2px;
          padding-right: 12px;
          transition: .6s ease-in;
          color: #0AA2C0;
          background-color: #fff;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .navigation{
        display: none;
      }
    }
  }
}