#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-logo {
  margin-left: -10%;
  width: auto;
  height: 8vmin;
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;

  a{
    font-size: large;
    margin: 5px;
    color: cadetblue;
    text-decoration: none;
    list-style: none;
    width: 100px;
  }

  .navbar {
    justify-content: space-evenly ;
    align-items: center;
  }
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(209, 208, 207, 0.89);
  width: 150px;
}

.dropdown:hover .dropdown-content{
  display: block;
  z-index: 0;
}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  padding: 20px 10px;

  label{
    margin: 8px;
    color: gray;
  }
  input{
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
  }
  button{
    margin: 15px;
    padding: 8px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(48, 159, 233);
  }
}