    .landing{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        position: relative;
        display: inline-block;
        overflow: hidden;

        img{
            height: 100%;
            display: block;
            max-width: 100vw;
        }

        .landing_head{
            position: absolute;
            width: 40%;
            height: 100%;
            right: 0;
            bottom: 0;
            padding-left: 5%;
            padding-right: 4%;
            align-content: center;
            text-align: left;
            color: #fff;

            h1{
                opacity: 0;
                font-family: 'Playfair Display', serif;
                font-size: 3.2rem;
                letter-spacing: 2px;
                padding: 5px;
                margin-bottom: 15px;
            }

            button{
                width: 15vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 25px;
                border: none;
                border-radius: 18px;
                background: #0AA2C0;
                color: #fff;
                cursor: pointer;
                container-type: inline-size;
            }

            @container (max-width: 12rem){
                button .search_icon{
                    display: none;
                }
                button .search_text{
                    margin: auto;
                }
            }

            @container (max-width: 6rem){
                button .search_icon{
                    display: inline;
                    margin: auto;
                }
                button .search_text{
                    display: none;
                }
            }
        }

        .landing_head:hover{
            transition: .5s ease-in-out;
            background-color: #21252b62;

            #a{
                opacity: 1;
                transition: .5s ease-out;
                margin-left: -3%;
            }
            #b{
                opacity: 1;
                transition: .5s ease-in;
                margin-left: 3%;
                margin-bottom: 8%;
            }

            /* button{
                transition: .5s ease-out;
                margin-left: -60%;
            } */
        }
    }

/* section{
    position: relative;
    font-size: 1rem;
    
    h1{
        padding: 1rem 0;
        color: #0AA2C0;
    }
} */

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 0 1;
    column-gap: 60px;
    padding: 60px 25px;
    height: 100%;
    margin-bottom: 25px;

    .intro_image{
        width: 40rem;
        padding: 80px 0;

        img{
            border-radius: 12px;
            height: auto;
            width: 100%;
        }
    }

}

.intro_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45rem;
    padding: 15px 25px;

    h1{
        margin: 2.5rem 0;
        color: #0AA2C0;
    }

    p{
        padding: 20px 10px;
        font-size: .9rem;
        line-height: 24px;
    }
    .readmorebtn{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        width: 130px;
        margin-top: 25px;
        padding: 8px 15px;
        border: none;
        border-radius: 25px;
        color: #fff;
        background-color: #0AA2C0;
        overflow: hidden;
        transition: .5s ease-out;

        a{
            color: #fff;
            text-decoration: none;
          }

        span{
            width: 100%;
        }
        .icon{
            display: none;
        }
    }
    .readmorebtn:hover{
        transition: .4s ease-in;
        width: 180px;
        font-weight: bold;
        border: 2px solid #0AA2C0;
        background-color: #fff;
        color: #0AA2C0;

        a{
            color: #0AA2C0;
            text-decoration: none;
          }

        .icon{
            width: 20%;
            display: inline;
        }
    }
}

.card_menu{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 100px 40px;
    background-image: url("../Assets/services.webp");
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card{
        display: inherit;
        flex-direction: column;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 2.4rem #29292934;
        width: 18rem;
        height: 16rem;
        background-color: rgba(116, 116, 116, 0.37);
        padding: 20px 30px;
        margin: 10px 15px;

        p{
            padding: 10px 5px;
            font-size: .8rem;
            line-height: 20px;
        }
    }
}

.call_to_action{
    min-height: 30rem;
    background-image: url("../Assets/contact.jpg");
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.outro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 60px;
    padding: 50px 40px;
    height: 100%;

    .testimonials{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 53rem;
        height: auto;
        color: #0AA2C0;
        padding: 30px 60px;
    
        .carousel-track{
            width: 60vw;
        }
    
        .client-card{
            display: flex !important; 
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: .8em;
            height: 380px;
            background-color: rgba(131, 131, 131, 0.281);
            padding: 20px 60px;
            border: none;
            border-radius: 8px;
        
            img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
            }
        }
    }
}



