.main{
    margin: -8px;
}

.jumbo_image{
    width: 100%;
    height: auto;
}
/* 
h2{
    color: firebrick;
} */

section{
    position: relative;
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    h1{
        color: #0AA2C0;
    }

}

.landing{
    /* display: flex; */
    position: relative;

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .landing_head{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        button{
            padding: 10px 20px;
            border: none;
            border-radius: 16px;
            background: #0AA2C0;
            color: #fff;
            font-size: .9em;
        }
        button:hover{
            background: #0890ac;
        }
    }
    .landing_head:hover{
        transition: .5s ease-in-out;
        background-color: #31446633;
    }
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
    padding: 100px 25px;
    height: 100%;
    margin-bottom: 25px;

    .intro_image{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 40rem;
        padding: 80px 0;

        img{
            border-radius: 12px;
            height: auto;
            width: 100%;
        }
    }

}

.intro_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50rem;
    padding: 15px 25px;

    button{
        text-align: center;
        height: 50px;
        width: 150px;
        margin-top: 25px;
        padding: 8px 15px;
        border: none;
        border-radius: 25px;
        color: #fff;
        background-color: #0AA2C0;
    }
    button:hover{
        font-weight: bold;
        border: 2px solid #0AA2C0;
        color: #0AA2C0;
        background-color: #fff;
    }
}

.card_menu{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 100px 40px;
    background-image: url("../Assets/services.webp");
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .card{
        display: inherit;
        flex-direction: column;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 2.4rem #29292934;
        width: 18rem;
        height: 16rem;
        background-color: rgba(116, 116, 116, 0.37);
        padding: 20px 40px;
        font-size: .9rem;
        margin: 10px 15px;

        button{
            width: 150px;
            font-weight: bold;
            padding: 10px 15px;
            color: #0AA2C0;
            border-radius: 10px;
            background-color: #fff;
            border: 2px solid #0AA2C0;
        }
        button:hover{
            color: #fff;
            background-color: #0AA2C0;
            border: none;
        }
    }
}

.services{
    display: flex;
    flex-direction: row;
    padding: 100px 40px;
}

.call_to_action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 40rem;
    background-image: url("../Assets/contact.jpg");
    color: #fff;
    /* padding: 40px 60px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p{
        font-size: 3rem;
        width: 60rem;
    }
}

.outro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 60px;
    padding: 100px 40px;
    height: 100%;
    margin-bottom: 25px;

    .testimonials{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 45rem;
        padding: 80px 0;
        height: auto;
        background-image: url("../Assets/landing_image2.jpg");
        color: #fff;
        padding: 40px 60px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size:auto; */
    
        .carousel-track{
            width: 70vw;
        }
    
        .carousel-item{
            width: 15rem !important;
        }
    
        .client-card{
            display: flex !important; 
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 350px;
            background-color: rgba(245, 245, 245, 0.336);
            padding: 20px 40px;
            border: none;
            border-radius: 8px;
        
            img{
                height: 80px;
                width: 80px;
                border-radius: 50%;
            }
        }
    }
}



